<!--base.html을 상속받음-->
{% extends 'base.html' %}

<!--static 폴더에 있는 리소스 로드-->
{% load static %}

<!--타이틀-->
{% block title %}Django Bookmark List{% endblock %}

<!--바디의 헤더 영역: 네비바 포함-->
{% block header %}
<header class="masthead" style="background-image: url('{% static 'img/home-bg.jpg'%}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Post</h1>
            <span class="subheading">blog</span>
          </div>
        </div>
      </div>
    </div>
  </header>
{% endblock %}

<!--바디의 컨텐트 영역: 본문-->
{% block content %}
<a href="{% url 'blog:add'%}" class="btn btn-primary btn-sm float-right" role="button" aria-pressed="true">새로 만들기</a>
<h1 xmlns="http://www.w3.org/1999/html">Blog list</h1>
<br>
{% for post in posts %}
<h3> <a href = '{{ post.get_absolute_url}}'>
    {{ post.title }} </a>
</h3>

 {{ post.modify_dt|date:"N d, Y"}}
    <p> {{ post.description}}   </p>


<div>
    <span>
        {% if page_obj.has_previous %}
         <a href="?page={{ page_obj.previous_page_number }}">GoPreviousPage</a>
        {% endif %}

        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages}}

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">GoNextPage</a>
        {% endif %}
    </span>


</div>
{% endfor %}

<br>

{% endblock %}


<!-- 바디의 풋터 영역-->
{% block footer %}
{% endblock %}

<!-- 추가 스크립트 지정 영역 -->
{% block extra-script %}
{% endblock %}

<a href="{% url 'blog:add'%}" class="btn btn-primary btn-sm float-right" role="button" aria-pressed="true">새로 만들기</a>






















