<!--어떤 주소를 입력하더라도 꼭 입력해야함.-->
<!-- base.html을 상속받음 -->
{% extends 'base.html' %}

<!--static 폴더에 있는 리소스 로드-->
{% load static %}

<!--타이틀-->
{% block title %} My site {% endblock %} </title>

<!--바디의 헤더 영역: 네비바 포함-->
{% block header %}
<header class="masthead" style="background-image: url('{% static 'img/ggang.jpg'%}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Gang's blog</h1>
            <span class="subheading">welcome!
            </span>
          </div>
        </div>
      </div>
    </div>
  </header>
<hr>
hello
{% endblock %}

<!-- 바디의 컨텐트 영역 : 본문-->
{% block content %}
{% endblock %}

<!-- 바디의 풋터 영역-->
{% block footer %}
{% endblock %}

<!-- 추가 스크립트 지정 영역 -->
{% block extra-script %}
{% endblock %}